/*fonts css start*/
@font-face {
	font-family: 'Yu Gothic';
	src: url('../fonts/YuGothic-Bold.eot');
	src: url('../fonts/YuGothic-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/YuGothic-Bold.woff2') format('woff2'),
	url('../fonts/YuGothic-Bold.woff') format('woff'),
	url('../fonts/YuGothic-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Yu Gothic';
	src: url('../fonts/YuGothic-Medium.eot');
	src: url('../fonts/YuGothic-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/YuGothic-Medium.woff2') format('woff2'),
	url('../fonts/YuGothic-Medium.woff') format('woff'),
	url('../fonts/YuGothic-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Yu Gothic';
	src: url('../fonts/YuGothic-Regular.eot');
	src: url('../fonts/YuGothic-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/YuGothic-Regular.woff2') format('woff2'),
	url('../fonts/YuGothic-Regular.woff') format('woff'),
	url('../fonts/YuGothic-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
/*fonts css end*/

/*common css start*/
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body, h1, h2, h3, h4, h5, h6, ul, li, p, a, span{
	margin: 0px;
	padding: 0px;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-font-smoothing: antialiased;
	font-family: 'Yu Gothic';
}
a, button, input[type=submit], select{
	cursor: pointer;
}
a, a:hover, a:focus, 
button, button:hover, button:focus,
input, input:hover, input:focus, 
textarea, textarea:hover, textarea:focus,
select, select:hover, select:focus{
	outline: 0;
	box-shadow: none;
	text-decoration: none;
}
ul, ol, li{
	list-style: none;
}
img{
	max-width: 100%;
	display: block;
}
.plugin_heading {
	font-size: 24px;
	line-height: 40px;
	color: #333333;
	margin-bottom: 5px;
	text-transform: capitalize;
}
.custom_row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.custom_col_6 {
	width: 50%;
	padding: 0 15px;
}
/*common css end*/
/*accordion css start*/
.custom_container {
	margin: auto;
	max-width: 1300px;
	width: 100%;
	padding: 15px;
}
.custom_dropdown_menu:not(:last-child) {
	margin-bottom: 20px;
}
.custom_dropdown_menu a {
	display: block;
	color: #000;
}
.custom_drop_menu_heading a {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	padding: 10px;
	background-color: #333;
	position: relative;
}
.custom_drop_menu_heading a span {
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	margin: auto;
	width: 12px;
	height: 12px;
	display: inline-block;
	transition: all 0.3s;
}
.custom_drop_menu_active .custom_drop_menu_heading a span {
	transform: rotate(45deg);
}
.custom_drop_menu_heading a span:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: #fff;
	width: 2px;
	height: 12px;
	border-radius: 3px;
}
.custom_drop_menu_heading a span:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: #fff;
	width: 12px;
	height: 2px;
	border-radius: 3px;
}
.custom_drop_menu {
	border: 1px solid #333;
}
.drop_menu_item_container {
	padding: 10px;
	background-color: #fff;
}
/*accordion css end*/
/*custom tabs start*/
.custom_tabs .custom_tabs_inner {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.custom_tabs .custom_tabs_inner_heading {
	flex: 0 0 160px;
	max-width: 160px;
}
.custom_tabs .custom_tabs_inner_content {
	flex: 0 0 calc(100% - 160px);
	max-width: calc(100% - 160px);
	padding-left: 10px;
}
.custom_tabs .custom_tabs_heading_btns li a {
	background-color: #fff;
	width: 100%;
	display: block;
	padding: 10px;
	border: 1px solid #333;
	color: #333;
	margin-bottom: 5px;
	transition: all 0.3s;
	font-weight: 600;
	text-transform: capitalize;
}
.custom_tabs .custom_tabs_heading_btns li:last-child a {
	margin-bottom: 0;
}
.custom_tabs .custom_tabs_heading_btns li a.active_tab {
	background-color: #333;
	color: #fff;
}
.custom_tabs .custom_tabs_inner_content .custom_tabs_content {
	padding: 10px;
	border: 1px solid #333;
	background-color: #fff;
}
/*custom tabs end*/
/*custom tabs horizontal start*/
.custom_tabs_horizontal .custom_tabs_inner_heading,.custom_tabs_horizontal .custom_tabs_inner_content {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0;
}
.custom_tabs_horizontal .custom_tabs_heading_btns {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
}
.custom_tabs_horizontal .custom_tabs_heading_btns li {
	flex-grow: 1;
	padding: 0 8px;
}
.custom_tabs_horizontal .custom_tabs_heading_btns li a {
	margin-bottom: 15px !important;
	background-color: #fff;
	width: 100%;
	display: block;
	padding: 10px;
	border: 1px solid #333;
	color: #333;
	margin-bottom: 5px;
	transition: all 0.3s;
	font-weight: 600;
	text-transform: capitalize;
}
.custom_tabs_horizontal .custom_tabs_heading_btns li a.active_tab_horizontal {
	background-color: #333;
	color: #fff;
}
.custom_tabs_horizontal_btn {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 10px;
}
.custom_tabs_horizontal .custom_tabs_inner_content .custom_tabs_content {
	padding: 10px;
	border: 1px solid #333;
	background-color: #fff;
}
.custom_tabs_horizontal .custom_tabs_horizontal_btn span {
	width: 100%;
	max-width: 80px;
	text-align: center;
	display: block;
	background-color: #333;
	color: #fff;
	padding: 6px 15px;
	cursor: pointer;
}
.custom_tabs_horizontal .custom_tabs_horizontal_btn .next_step_inner,
.custom_tabs_horizontal .custom_tabs_horizontal_btn .next_step {
	margin-left: auto;
}
.custom_tabs_horizontal .custom_tabs_horizontal_btn .prev_step_inner,
.custom_tabs_horizontal .custom_tabs_horizontal_btn .prev_step {
	margin-right: auto;
}
/*custom tabs horizontal end*/
/*custom tabs horizontal inner steps start*/
.custom_tabs_horizontal_inner_steps .custom_tabs_inner_heading,.custom_tabs_horizontal_inner_steps .custom_tabs_inner_content {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_heading_btns {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_heading_btns li {
	flex-grow: 1;
	padding: 0 8px;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_heading_btns li a {
	margin-bottom: 15px !important;
	background-color: #fff;
	width: 100%;
	display: block;
	padding: 10px;
	border: 1px solid #333;
	color: #333;
	margin-bottom: 5px;
	transition: all 0.3s;
	font-weight: 600;
	text-transform: capitalize;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_heading_btns li a.active_tab_horizontal_inner {
	background-color: #333;
	color: #fff;
}
.custom_tabs_horizontal_btn {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 10px;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_inner_content .custom_tabs_content {
	padding: 10px;
	border: 1px solid #333;
	background-color: #fff;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_horizontal_btn span {
	width: 100%;
	max-width: 80px;
	text-align: center;
	display: block;
	background-color: #333;
	color: #fff;
	padding: 6px 15px;
	cursor: pointer;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_horizontal_btn .next_step {
	margin-left: auto;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_horizontal_btn .next_prev {
	margin-right: auto;
}
/*custom tabs horizontal inner steps end*/

/*horizontal scroll start*/
.horizontal_scroll_content {
	overflow-y: hidden;
	overflow-x: auto;
}
.horizontal_scroll .custom_row {
	display: flex;
	margin: 0 -8px;
	flex-wrap: nowrap;
}
.horizontal_scroll .custom_col {
	flex-grow: 1;
	padding: 0 8px;
}
.horizontal_scroll .horizontal_scroll_image {
	position: relative;
	padding-top: 80%;
	overflow: hidden;
	width: 400px;
}
.horizontal_scroll .horizontal_scroll_image img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}
/*horizontal scroll end*/

/*bubble css start*/
#floatbubble {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}
/*bubble css end*/

/*back to top btn css start*/
.back_to_top_btn {
    position: fixed;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    z-index: 999;
}
.percent {
	border-radius: 50%;
	overflow: hidden;
	width: 44px;
	height: 44px;
	display: block;
}
.percent svg {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1000;
	transform: rotate(270deg);
}
.percent svg circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #fff;
	stroke-width: 3;
	transform: translate(2px, 2px);
}
.percent svg circle:nth-child(2) {
	stroke-dasharray: 125;
	stroke-dashoffset: 125;
}
.percent svg circle:nth-child(2) {
	stroke: #333;
}
.back_to_top_btn span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	box-sizing: border-box;
	color: #333333;
}
.back_to_top_btn span::before {
	content: '\f062';
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 14px;
	text-align: center;
	border-radius: 100%;
	line-height: 44px;
	color: #333;
}
/*back to top btn css end*/
/*custom select sec css start*/
.custom_select_sec {
	margin-bottom: 30px;
	position: relative;
}
.custom_select_sec .custom_select input {
	width: 100%;
	padding: 10px;
	border: 2px solid #62bfeb;
	border-radius: 5px;
	font-size: 16px;
	color: #323246;
	outline: none;
	cursor: pointer;
}
.custom_select_sec .custom_select input::placeholder {
	font-size: 16px;
	color: #323246;
}
.custom_select_sec .custom_select input ul,.custom_select input li {
	padding: 0;
	margin: 0;
}
.custom_select_sec .custom_select_input {
	position: relative;
}
.custom_select_sec .custom_select span.select_close_btn {
	display: none;
}
.custom_select_sec .custom_select input.active_select + span {
	display: table;
	position: absolute;
	top: 0;
	right: 35px;
	bottom: 0;
	margin: auto;
	color: #323246;
	cursor: pointer;
}
.custom_select_sec .cselect_options {
	border: 2px solid #62bfeb;
	border-radius: 5px;
	z-index: 1;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #fff;
}
.custom_select_sec .custom_select ul li p {
	padding: 10px;
	border-bottom: 2px solid #62bfeb;
	color: #323246;
	cursor: pointer;
	font-size: 16px;
}
.custom_select_sec .cselect_options span {
	display: block;
	text-align: right;
	padding: 10px;
	cursor: pointer;
	color: #323246;
}
.custom_select_sec .custom_select_input .input_icon {
	display: table;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	margin: auto;
	color: #323246;
	pointer-events: none;
}
.custom_select_sec .custom_select .list_open .input_icon {
	transform: rotate(180deg);
}
/*custom select sec css end*/


/*custom select inner list css start*/
.custom_select_inner_list {
	position: relative;
}
.custom_select_inner_list_sec .custom_select_inner_list input {
	width: 100%;
	padding: 10px;
	border: 2px solid #4776e1;
	border-radius: 5px;
	font-size: 16px;
	color: #323246;
	outline: none;
	cursor: pointer;
}
.custom_select_inner_list_sec .custom_select_inner_list input::placeholder {
	font-size: 16px;
	color: #323246;
}
.custom_select_inner_list_sec .custom_select_inner_list input ul,.custom_select input li {
	padding: 0;
	margin: 0;
}
.custom_select_inner_list_sec .custom_select_input {
	position: relative;
}
.custom_select_inner_list_sec .custom_select_inner_list span.select_close_btn {
	display: none;
}
.custom_select_inner_list_sec .custom_select_inner_list input.active_select + span {
	display: table;
	position: absolute;
	top: 0;
	right: 35px;
	bottom: 0;
	margin: auto;
	color: #323246;
	cursor: pointer;
}
.custom_select_inner_list_sec .cselect_options {
	border: 2px solid #4776e1;
	border-radius: 5px;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #fff;
}
.custom_select_inner_list_sec .cselect_options ul {
	height: 240px;
	overflow-x: hidden;
	overflow-y: auto;
}
.custom_select_inner_list_sec .custom_select_inner_list ul li p {
	padding: 10px;
	border-bottom: 2px solid #4776e1;
	color: #323246;
	cursor: pointer;
	font-size: 16px;
}
.custom_select_inner_list_sec .cselect_options span {
	display: block;
	text-align: right;
	padding: 10px;
	cursor: pointer;
	color: #323246;
}
.custom_select_inner_list_sec .cselect_options span.select_footer {
	margin-left: auto;
}
.custom_select_inner_list_sec .custom_select_input .input_icon {
	display: table;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	margin: auto;
	color: #323246;
	pointer-events: none;
}
.custom_select_inner_list_sec .custom_select_inner_list .list_open .input_icon {
	transform: rotate(180deg);
}
.custom_select_inner_list_sec .cselect_options_list .custom_select_inner_list_content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
}
.cselect_options_footer_btn {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.custom_select_inner_list_sec ul.custom_select_inner_list_content.inner_list_active {
	display: block !important;
}
/*custom select inner list css end*/
/*slider aniamtion css start*/
.slider-image {
	position: relative;
	overflow: hidden;
	padding-top: 45%;
}
.slider-image img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}
.carousel_slide {
    overflow: hidden;
    position: relative;
    display: block !important;
}
.carousel_slide_content {
	position: absolute;
	top: 130px;
	left: 70px;
	z-index: 3;
	color: #fff;
}
.carousel_slide_content h1 {
    font-size: 130px;
    line-height: 1;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}
.slick-slide.slick-active .carousel_slide_content h1 {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1) 0.7s;
}
.slick-active.move_right .carousel_slide_content h1 {
	/*animation: backInRight 1s cubic-bezier(0.7, 0, 0.3, 1) 0.7s both;*/
}
.slick-active.move_left .carousel_slide_content h1 {
	/*animation: backInLeft 0.875s cubic-bezier(0.7, 0, 0.3, 1) 0.7s both;*/
}
.slick-slide.slick-active .carousel_slide_content h1 {}
.carousel_slide_overlay {
	background-color: transparent;
	background-size: cover;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
	background-position: center;
}
.carousel_image {
	height: 100%;
	object-fit: cover;
	position: relative;
	transform: scale(1);
	width: 100%;
	z-index: 1;
}
.doAnimation .slick-active .carousel_slide_inner .carousel_image {
	animation: scale-out 0.875s cubic-bezier(0.7, 0, 0.3, 1) 0.7s both;
	transform: scale(1.3);
}
@keyframes scale-out {
	0% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}
.slick-active.move_left .carousel_slide_overlay {
	animation: scale-in-hor-left 1.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s reverse both;
}
.slick-active.move_right .carousel_slide_overlay {
	animation: scale-in-hor-right 1.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s reverse both;
}
.slick-active .carousel_slide_overlay {
	animation: scale-in-hor-right 1.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s reverse both;
	/*background-position: center right;*/
}
@keyframes scale-in-hor-right {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		opacity: 1;
	}
}
@keyframes scale-in-hor-left {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		opacity: 1;
	}
}
.slick-dots {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
}
.slick-dots li {
	margin: 0 4px;
}
.slick-dots li::marker {
	font-size: 0px;
}
.slick-dots li button {
	font-size: 0px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	background-color: #7a7676;
	transition: all 0.3s;
}
.slick-dots li.slick-active button {
	background-color: #000;
}
.slick-slider .slick-arrow {
	position: absolute;
	bottom: 4px;
	z-index: 1;
	width: 40px;
	height: 40px;
	background-color: #333;
	border: none;
	color: #fff;
	cursor: pointer;
}
.slick-slider .slick-arrow.slick-disabled {
	cursor: not-allowed;
	opacity: 0.8;
}
.slick-slider .slick-arrow.slick-next {
	right: 30px;
}
.slick-slider .slick-arrow.slick-prev {
	right: 78px;
}
/*slider aniamtion css end*/
/*tow col section css start*/
.tow_col_section {
	padding-top: 40px;
}
.tow_col_section .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.tow_col_section .row .text_col {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
}
.tow_col_section .row .image_col {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
}
.tow_col_section .row .text_col .content {
    max-width: 650px;
    margin-left: auto;
    padding: 15px 40px 15px 15px;
}
.tow_col_section .row .image_col .contnet_image {
    position: relative;
    padding-top: 72%;
    overflow: hidden;
    width: 100%;
}
.tow_col_section .row .image_col .contnet_image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.tow_col_section .row .text_col .content h1 {
    font-size: 34px;
    margin-bottom: 8px;
}
/*tow col section css end*/
/*slider second section css start*/
.slider_second_section {
	overflow: hidden;
}
.slider_second_section .image_slider {
    width: 100%;
    max-width: 500px;
    -webkit-clip-path: inset(-100vw -100vw -100vw 0);
    clip-path: inset(-100vw -100vw -100vw 0);
}
.slider_second_section .slick-list {
    overflow: visible;
}
.slider_second_section .image_slider .slider_images {
	position: relative;
	padding-top: 80%;
	overflow: hidden;
}
.slider_second_section .image_slider .slider_images > * {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
/*slider second section css end*/
/*WebGl canvas section css start*/
canvas.webgl {
	width: 100%;
	height: 100vh;
	display: block;
	cursor: none;
}
/*WebGl canvas section css end*/
@media (max-width: 767px) {
	.custom_tabs .custom_tabs_heading_btns li a {
		margin-bottom: 10px !important;
	}
	.custom_tabs .custom_tabs_inner_heading, .custom_tabs .custom_tabs_inner_content {
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0;
	}
	.tow_col_section .row .image_col,
	.tow_col_section .row .text_col {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.tow_col_section .row .text_col .content {
		max-width: 100%;
		padding: 20px 20px;
	}
}
@media (max-width: 575px) {
	.custom_tabs_horizontal .custom_tabs_heading_btns li {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.custom_tabs_horizontal_inner_steps .custom_tabs_heading_btns li {
		flex: 0 0 100%;
		max-width: 100%;
	}
	section.slider_section {
		height: 100vh;
		overflow: hidden;
	}
	.slider-image {
		padding-top: 100vh;
	}
	.carousel_slide_content {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.carousel_slide_content h1 {
		font-size: 80px;
	}
	.slick-slider .slick-arrow {
		top: 0;
		bottom: 0;
		margin: auto;
	}
	.slick-slider .slick-arrow.slick-prev {
		left: 15px;
		margin-left: 0;
		margin-right: 0;
	}
	.slick-slider .slick-arrow.slick-prev {
		left: 15px;
	}
}
