/*fonts css start*/
@font-face {
    font-family: 'Yu Gothic';
    src: url('../fonts/YuGothic-Bold.eot');
    src: url('../fonts/YuGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YuGothic-Bold.woff2') format('woff2'),
    url('../fonts/YuGothic-Bold.woff') format('woff'),
    url('../fonts/YuGothic-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yu Gothic';
    src: url('../fonts/YuGothic-Medium.eot');
    src: url('../fonts/YuGothic-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YuGothic-Medium.woff2') format('woff2'),
    url('../fonts/YuGothic-Medium.woff') format('woff'),
    url('../fonts/YuGothic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yu Gothic';
    src: url('../fonts/YuGothic-Regular.eot');
    src: url('../fonts/YuGothic-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YuGothic-Regular.woff2') format('woff2'),
    url('../fonts/YuGothic-Regular.woff') format('woff'),
    url('../fonts/YuGothic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/*fonts css end*/

/*common css start*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body, h1, h2, h3, h4, h5, h6, ul, li, p, a, span{
    margin: 0px;
    padding: 0px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -font-smoothing: antialiased;
    font-family: 'Yu Gothic';
}
a, button, input[type=submit], select{
	cursor: pointer;
}
a, a:hover, a:focus, 
button, button:hover, button:focus,
input, input:hover, input:focus, 
textarea, textarea:hover, textarea:focus,
select, select:hover, select:focus{
	outline: 0;
	box-shadow: none;
	text-decoration: none;
}
ul, ol, li{
	list-style: none;
}
img{
	max-width: 100%;
	display: block;
}
.plugin_heading {
	font-size: 24px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 5px;
    text-transform: capitalize;
}
/*accordion css start*/
.custom_container {
	margin: auto;
	max-width: 900px;
	width: 100%;
	padding: 15px;
}
.custom_dropdown_menu:not(:last-child) {
	margin-bottom: 20px;
}
.custom_dropdown_menu a {
	display: block;
	color: #000;
}
.custom_drop_menu_heading a {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	padding: 10px;
	background-color: #333;
	position: relative;
}
.custom_drop_menu_heading a span {
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	margin: auto;
	width: 12px;
	height: 12px;
	display: inline-block;
	transition: all 0.3s;
}
.custom_drop_menu_active .custom_drop_menu_heading a span {
	transform: rotate(45deg);
}
.custom_drop_menu_heading a span:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: #fff;
	width: 2px;
	height: 12px;
	border-radius: 3px;
}
.custom_drop_menu_heading a span:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: #fff;
	width: 12px;
	height: 2px;
	border-radius: 3px;
}
.custom_drop_menu {
	border: 1px solid #333;
}
.drop_menu_item_container {
	padding: 10px;
}
/*accordion css end*/
/*custom tabs start*/
.custom_tabs .custom_tabs_inner {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.custom_tabs .custom_tabs_inner_heading {
	flex: 0 0 160px;
	max-width: 160px;
}
.custom_tabs .custom_tabs_inner_content {
	flex: 0 0 calc(100% - 160px);
	max-width: calc(100% - 160px);
	padding-left: 10px;
}
.custom_tabs .custom_tabs_heading_btns li a {
	background-color: #fff;
	width: 100%;
	display: block;
	padding: 10px;
	border: 1px solid #333;
	color: #333;
	margin-bottom: 5px;
	transition: all 0.3s;
	font-weight: 600;
	text-transform: capitalize;
}
.custom_tabs .custom_tabs_heading_btns li:last-child a {
	margin-bottom: 0;
}
.custom_tabs .custom_tabs_heading_btns li a.active_tab {
	background-color: #333;
	color: #fff;
}
.custom_tabs .custom_tabs_inner_content .custom_tabs_content {
	padding: 10px;
	border: 1px solid #333;
}
/*custom tabs end*/
/*custom tabs horizontal start*/
.custom_tabs_horizontal .custom_tabs_inner_heading,.custom_tabs_horizontal .custom_tabs_inner_content {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0;
}
.custom_tabs_horizontal .custom_tabs_heading_btns {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
}
.custom_tabs_horizontal .custom_tabs_heading_btns li {
	flex-grow: 1;
	padding: 0 8px;
}
.custom_tabs_horizontal .custom_tabs_heading_btns li a {
    margin-bottom: 15px !important;
    background-color: #fff;
    width: 100%;
    display: block;
    padding: 10px;
    border: 1px solid #333;
    color: #333;
    margin-bottom: 5px;
    transition: all 0.3s;
    font-weight: 600;
    text-transform: capitalize;
}
.custom_tabs_horizontal .custom_tabs_heading_btns li a.active_tab_horizontal {
    background-color: #333;
    color: #fff;
}
.custom_tabs_horizontal_btn {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 10px;
}
.custom_tabs_horizontal .custom_tabs_inner_content .custom_tabs_content {
    padding: 10px;
    border: 1px solid #333;
}
.custom_tabs_horizontal .custom_tabs_horizontal_btn span {
	width: 100%;
	max-width: 80px;
	text-align: center;
	display: block;
	background-color: #333;
	color: #fff;
	padding: 6px 15px;
	cursor: pointer;
}
.custom_tabs_horizontal .custom_tabs_horizontal_btn .next_step_inner,
.custom_tabs_horizontal .custom_tabs_horizontal_btn .next_step {
	margin-left: auto;
}
.custom_tabs_horizontal .custom_tabs_horizontal_btn .prev_step_inner,
.custom_tabs_horizontal .custom_tabs_horizontal_btn .prev_step {
	margin-right: auto;
}
/*custom tabs horizontal end*/
/*custom tabs horizontal inner steps start*/
.custom_tabs_horizontal_inner_steps .custom_tabs_inner_heading,.custom_tabs_horizontal_inner_steps .custom_tabs_inner_content {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_heading_btns {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_heading_btns li {
	flex-grow: 1;
	padding: 0 8px;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_heading_btns li a {
    margin-bottom: 15px !important;
    background-color: #fff;
    width: 100%;
    display: block;
    padding: 10px;
    border: 1px solid #333;
    color: #333;
    margin-bottom: 5px;
    transition: all 0.3s;
    font-weight: 600;
    text-transform: capitalize;
    pointer-events: none;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_heading_btns li a.active_tab_horizontal_inner {
    background-color: #333;
    color: #fff;
}
.custom_tabs_horizontal_btn {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 10px;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_inner_content .custom_tabs_content {
    padding: 10px;
    border: 1px solid #333;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_horizontal_btn span {
	width: 100%;
	max-width: 80px;
	text-align: center;
	display: block;
	background-color: #333;
	color: #fff;
	padding: 6px 15px;
	cursor: pointer;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_horizontal_btn .next_step {
	margin-left: auto;
}
.custom_tabs_horizontal_inner_steps .custom_tabs_horizontal_btn .next_prev {
	margin-right: auto;
}
/*custom tabs horizontal inner steps end*/

/*horizontal scroll start*/
.horizontal_scroll_content {
    overflow-y: hidden;
    overflow-x: auto;
}
.horizontal_scroll .custom_row {
    display: flex;
    margin: 0 -8px;
}
.horizontal_scroll .custom_col {
    flex-grow: 1;
    padding: 0 8px;
}
.horizontal_scroll .horizontal_scroll_image {
	position: relative;
    padding-top: 80%;
    overflow: hidden;
    width: 400px;
}
.horizontal_scroll .horizontal_scroll_image img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}
/*horizontal scroll end*/

@media (max-width: 767px) {
	.custom_tabs .custom_tabs_heading_btns li a {
		margin-bottom: 10px !important;
	}
	.custom_tabs .custom_tabs_inner_heading, .custom_tabs .custom_tabs_inner_content {
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0;
	}
}
@media (max-width: 575px) {
	.custom_tabs_horizontal .custom_tabs_heading_btns li {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.custom_tabs_horizontal_inner_steps .custom_tabs_heading_btns li {
		flex: 0 0 100%;
		max-width: 100%;
	}
}